/node_modules
/vendor
# LocalValetDriver.php
.env

public/languages
# public/mu-plugins
public/plugins/*
!public/plugins/index.php
public/upgrade
public/uploads/
public/wordpress
public/wflogs
public/logs
public/.user.ini
composer.lock